<div class="body-container" style="background-image: url(https://images.unsplash.com/photo-1489710020360-66e504159b43?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80)">
<!-- <p>Are you tired of eating alone?</p>
<p>Want to showcase your cooking skills?</p>

<p><strong>We got you covered! All you have to do is fill the form below 👇</strong></p> -->

<div class="signup-container">
<!-- <h1>What are you waiting for?</h1> -->
<!-- <p>Are you tired of eating alone?</p>
<p>Want to showcase your cooking skills?</p>

<p><strong>We got you covered! All you have to do is fill the form below 👇</strong></p> -->
<h2>Sign up</h2>
<!-- typed.js => class="sick-js" -->

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>


    <%= f.button :submit, "Sign up", class: "form-actions" %>

<% end %>

<p>Already have an account?<%= render "devise/shared/links" %></p>
</div>
</div>
