<div class="cards-container">
      <div class="card-trip">

        <img src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>

        <div class="card-trip-infos">
          <div class="card-trip-details">
          <%= link_to dinner_path(@dinner), class: "card-link" do %>
            <h2><%= @dinner.title %></h2>
          <% end %>
            <div class="dinner-details">
              <h6>Cuisine</h6>
              <p><%= @dinner.cuisine %></p>
            </div>
            <div class="dinner-details">
              <h6>Location</h6>
              <p><%= @dinner.location %></p>
            </div>
            <div class="dinner-details">
              <h6>Capacity</h6>
              <p><%= @dinner.capacity %></p>
            </div>
            <div>
              <h2 class="card-trip-pricing">£<%= @dinner.price %></h2>
               <!--  <img src="" class="card-trip-user avatar-bordered" /> -->
            </div>
          </div>
          <div id='delete-button'>
            <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, dinner_path(@dinner), method: :delete%>
          </div>
        </div>

      </div>
</div>
