<div class="cards-container">
  <% @dinners.each do |dinner| %>
      <% if dinner.photo.attached? %>
        <% photo_url = dinner.photo.attached? ? dinner.photo.service_url : "" %>
      <div class="card-trip" style="background-image: url('<%= cl_image_path dinner.photo.key, height: 300, width: 400, crop: :fill %>'); background-position: center;">
        <% else %>
  <img src=<%= dinner.image_url %> />
  <% end %>

  <div class="card-trip-infos">
    <div>
      <h2><%= dinner.title %></h2>
      <p><strong>Cuisine: </strong><%= dinner.cuisine %> - <strong>Capacity: </strong><%= dinner.capacity %></p>
    </div>
    <h2 class="card-trip-pricing">£<%= dinner.price %></h2>
  </div>
</div>
  <% end %>
</div>

