<h1>Host a New Dinner</h1>

<%= simple_form_for(@dinner) do |f| %>
  <%= f.input :title %>
  <%= f.input :cuisine %>
  <%= f.input :capacity %>
  <%= f.input :price %>
  <%= f.input :photo %>
  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>





