<!DOCTYPE html>
<html>
  <head>
    <title>FoodForThought</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% unless action_name == 'home' %>
      <div class="spacing"></div>
    <% end %>
    <%= yield %>
  </body>
</html>
