<!DOCTYPE html>
<html>
  <head>
    <title>FoodForThought</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
<!--     <p class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    <% style = params[:action] == 'home' ? 'home_navbar_style' : 'not_home_navbar_style' %>
    <%= render "shared/navbar", locals: { styling: style }  %>
    <%= yield %>
  </body>
</html>
